.delivery-collection {
    padding: 20px 0;
    background-color: #f8f8f8;
    width: 100vw;
    margin-bottom: 20px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}


.collection-title {
    font-size: 28px;
    margin-bottom: 32px;
    font-weight: 600;
    color: #333;

}

.carousel-item {
    text-align: center;
    padding: 10px;
}

.carousel-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}